<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.tracom.bis.domain.bisCtDetailCode.BisCtDetailCodeMapper">
    <select id="findAll" resultType="bisCtDetailCode" parameterType="map" statementType="PREPARED">
        SELECT
        	SEQUENCE AS sequence,
            DETAIL_CODE AS detailCode,
            DETAIL_CODE_NAME AS detailCodeName,
            DETAIL_CODE_ENAME AS detailCodeEname,
            VALUE_1 AS value1,
            VALUE_2 AS value2,
            VALUE_3 AS value3,
            REMARK AS remark,
            USER_ID AS userId,
            UPDATE_DATE AS updateDate,
            USE_YN AS useYn
        FROM
            bis_ct_detail_code
        WHERE
        	COMMON_CODE LIKE #{Keyword}
        ORDER BY
        	sequence ASC
    </select>
    
    <select id="findAllUseY" resultType="bisCtDetailCode" parameterType="map" statementType="PREPARED">
        SELECT
        	SEQUENCE AS sequence,
            DETAIL_CODE AS detailCode,
            DETAIL_CODE_NAME AS detailCodeName,
            DETAIL_CODE_ENAME AS detailCodeEname,
            VALUE_1 AS value1,
            VALUE_2 AS value2,
            VALUE_3 AS value3,
            REMARK AS remark,
            USER_ID AS userId,
            UPDATE_DATE AS updateDate,
            USE_YN AS useYn
        FROM
            bis_ct_detail_code
        WHERE
        	COMMON_CODE LIKE #{Keyword} AND USE_YN LIKE 'Y'
        ORDER BY
        	sequence ASC
    </select>
 
    <select id="findOne" resultType="bisCtDetailCode" parameterType="bisCtDetailCode" statementType="PREPARED">
        SELECT
            DETAIL_CODE AS detailCode,
            DETAIL_CODE_NAME AS detailCodeName,
            DETAIL_CODE_ENAME AS detailCodeEname,
            VALUE_1 AS value1,
            VALUE_2 AS value2,
            VALUE_3 AS value3,
            REMARK AS remark,
            USER_ID AS userId,
            UPDATE_DATE AS updateDate,
            USE_YN AS useYn
        FROM
            bis_ct_detail_code
        WHERE
            COMMON_CODE LIKE #{parentKey} AND DETAIL_CODE LIKE #{detailCode}
    </select>
 
   <update id="delete" parameterType="String" statementType="PREPARED">
        DELETE FROM
            bis_ct_detail_code
        WHERE
            COMMON_CODE = #{parentKey}
    </update>
 
   <update id="update" parameterType="bisCtDetailCode" statementType="PREPARED">
        UPDATE bis_ct_detail_code
        SET
        	SEQUENCE = #{sequence},
            DETAIL_CODE_NAME = #{detailCodeName},
            DETAIL_CODE_ENAME = #{detailCodeEname},
            VALUE_1 = #{value1},
            VALUE_2 = #{value2},
            VALUE_3 = #{value3},
            REMARK = #{remark},
            USER_ID = #{userId},
            UPDATE_DATE = now(),
            USE_YN = #{useYn}
        WHERE
            COMMON_CODE LIKE #{parentKey} AND DETAIL_CODE LIKE #{detailCode}
    </update>
 
   <update id="insert" parameterType="map" statementType="PREPARED">
        INSERT INTO bis_ct_detail_code (
        	SEQUENCE,
            COMMON_CODE,
            DETAIL_CODE,
            DETAIL_CODE_NAME,
            DETAIL_CODE_ENAME,
            VALUE_1,
            VALUE_2,
            VALUE_3,
            REMARK,
            USER_ID,
            UPDATE_DATE,
            USE_YN
        ) VALUES (
        	#{sequence},
            #{parentKey},
            #{detailCode},
            #{detailCodeName},
            #{detailCodeEname},
            #{value1},
            #{value2},
            #{value3},
            #{remark},
            #{userId},
            #{updateDate},
            #{useYn}
        ) 
    </update>

</mapper>