<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bis.domain.user.UserHistoryMapper">

	<select id="loginHistory" resultType="userHistory" parameterType="map" statementType="PREPARED">
		SELECT
	        COLLECT_DATE AS collectDate,
	        USER_CD AS userCode,
	        USER_NM AS userName,
	        LOCALE AS locale
		FROM
		   bis_ht_login
		
		WHERE
			COLLECT_DATE BETWEEN #{startDate} AND #{endDate}
		<if test="Select == 'userCode'">
			AND 
			USER_CD LIKE CONCAT('%',ifnull(#{Keyword},""),'%')
		</if>
		<if test="Select == 'userName'">
			AND
			USER_NM LIKE CONCAT('%',ifnull(#{Keyword},""),'%')
        </if>	
            ORDER BY COLLECT_DATE DESC
	</select>
	
	<insert id="add" parameterType="map">
			INSERT INTO bis_ht_login 
			(	
				COLLECT_DATE,
				USER_CD,
				USER_NM,
				LOCALE
			) 
			VALUES 
			(
				date_format(now(),'%Y%m%d%H%i%s'),
				#{userCd},
				#{userNm},
				#{locale}
			)
	</insert>	

</mapper>