<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.tracom.bis.domain.bisItBitscenario.BisItBitscenarioMapper">
	
	<select id="getFormInfo" resultType="bisBitFormInfo" statementType="PREPARED">
		SELECT
			t1.SCENARIO_ID AS scenarioId,
			t2.FORM_TYPE AS formType,
			t2.FILE_NAME AS fileName,
			t1.DISPLAY_TIME AS displayTime,
			(SELECT COUNT(IF(t1.SCENARIO_ID = t4.SCENARIO_ID,1,0)) FROM bis_it_scenario AS t4 WHERE t1.SCENARIO_ID=t4.SCENARIO_ID)  AS formCount
		FROM
			bis_it_scenarioform AS t1
		JOIN
			bis_it_form AS t2
		ON
			t1.FORM_ID=t2.FORM_ID
		WHERE
			t1.USE_YN='Y'
		AND 
			t2.USE_YN='Y'
	</select>
	
	<select id="bitFindAll" resultType="bisMtBit" parameterType="map" statementType="PREPARED">
		SELECT
			t1.BIT_ID AS bitId,
			t1.BIT_NAME AS bitName,
			t1.BIT_ENAME AS bitEname,
			t1.INSTALL_DATE AS installDate,
			t1.UPDATE_DATE AS updateDate,
			t1.USE_YN AS useYn,
			(SELECT COUNT(IF(t2.SCENARIO_ID LIKE 'SB%',1,NULL)) FROM bis_it_bitscenario AS t2 WHERE t1.BIT_ID=t2.BIT_ID)   AS imageCount,
			(SELECT COUNT(IF(t2.SCENARIO_ID LIKE 'SC%',1,NULL)) FROM bis_it_bitscenario AS t2 WHERE t1.BIT_ID=t2.BIT_ID)   AS videoCount
        FROM
			bis_mt_bit AS t1
        WHERE
            t1.USE_YN LIKE 'Y'
        <if test="searchData != null">		
        AND
        	${searchDiv} LIKE CONCAT('%',#{searchData},'%')
        </if>
        GROUP BY t1.BIT_ID
     
    </select>
	
    <select id="findAll" resultType="bisItBitscenario" parameterType="map" statementType="PREPARED">
        SELECT 
			t2.BIT_ID AS bitId,
			t2.BIT_NAME AS bitName,
			t3.SCENARIO_ID AS scenarioId,
			t3.SCENARIO_NAME AS scenarioName,
			t1.APPLY_DATE AS applyDate
		FROM
			bis_it_bitscenario AS t1
		RIGHT OUTER JOIN
			bis_mt_bit AS t2
		ON
			t1.BIT_ID=t2.BIT_ID
		LEFT OUTER JOIN
			bis_it_scenario AS t3
		ON
			t3.SCENARIO_ID = t1.SCENARIO_ID
		<if test="bitId != null">
			WHERE 
				t2.BIT_ID = #{bitId}
		</if>
    </select>
    
    <select id="find" resultType="bisItBitscenario" parameterType="map" statementType="PREPARED">
        SELECT 
			t2.BIT_ID AS bitId,
			t2.BIT_NAME AS bitName,
			t3.SCENARIO_ID AS scenarioId,
			t3.SCENARIO_NAME AS scenarioName,
			t1.APPLY_DATE AS applyDate
		FROM
			bis_it_bitscenario AS t1
		RIGHT OUTER JOIN
			bis_mt_bit AS t2
		ON
			t1.BIT_ID=t2.BIT_ID
		LEFT OUTER JOIN
			bis_it_scenario AS t3
		ON
			t3.SCENARIO_ID = t1.SCENARIO_ID
		WHERE 
			t2.BIT_ID = #{bitId}
    </select>
    
   <update id="delete" parameterType="String" statementType="PREPARED">
   	DELETE FROM
   		bis_it_bitscenario
   	WHERE
   		SCENARIO_ID LIKE #{scenarioId}
   </update>
   
   <update id="update" parameterType="map" statementType="PREPARED">
   		UPDATE
   			bis_it_bitscenario
   		SET
   			SCENARIO_ID=#{parentKey}, UPDATE_DATE=#{updateDate}, APPLY_DATE=#{applyDate}
   		WHERE
   			BIT_ID=#{bitId}
   </update>
 
   <update id="insert" parameterType="map" statementType="PREPARED">
        INSERT INTO bis_it_bitscenario (
            BIT_ID,
            SCENARIO_ID,
            APPLY_DATE,
            USER_ID,
            UPDATE_DATE,
            USE_YN
        ) VALUES (
            #{bitId},
            #{parentKey},
            #{applyDate},
            #{userId},
            #{updateDate},
            #{useYn}
        )
    </update>
</mapper>